#game {
  margin: 0 auto;
}

#game,
#shoot,
#build {
  width: 800;
}

body {
  background: #666;
}

button {
  width: 200px;
  border: 1px outset #666;
  font-family: monospace;
  display: block;
  background-image: -webkit-linear-gradient(top, #988, #777);
  background-image: -moz-linear-gradient(top, #988, #777);
  background-image: -o-linear-gradient(top, #988, #777);
  text-align: center;
}

button:active,
button.selected {
  border-style: inset;
  background-image: -webkit-linear-gradient(top, #666, #877);
  text-align: center;
}

.left {
  float: left;
  margin: 5px;
}

.sub {
  float: left;
  margin: 5px;
}

.funds {
  float: right;
  margin: 5px;
}

.funds .disp {
  font-family: monospace;
}
