#game {
  margin: 10px auto;
}

#game,
#shoot,
#build {
  width: 800;
}

body {
  background: #666;
  padding: 10px;
}

button {
  width: 200px;
  border: 1px outset #666;
  font-family: monospace;
  display: block;
  background-image: -webkit-linear-gradient(top, #988, #777);
  background-image: -moz-linear-gradient(top, #988, #777);
  background-image: -o-linear-gradient(top, #988, #777);
  text-align: center;
}

button:active,
button.selected {
  border-style: inset;
  background-image: -webkit-linear-gradient(top, #666, #877);
  text-align: center;
}

.left {
  float: left;
  max-width: 220px;
  margin: 5px;
}

.sub {
  float: left;
  max-width: 220px;
  margin: 5px;
}

.funds {
  float: right;
  max-width: 350px;
  margin: 5px;
}

.funds .disp {
  font-family: monospace;
  text-align: right;
}

.funds .disp.warn {
  color: #800;
}

#tut {
  width: 800px;
  margin: 10px auto;
  background: #a98;
  border: 1px solid #a98;
  border-radius: 10px;
  padding: 5px;
  clear: both;
}
#tut code {
  background: #a99;
  padding: 0 2px;
  border: 1px solid #666;
  border-radius: 5px;
}
